@import "./../styles/variables.scss";

.container {
  min-height: calc(100vh - #{$headerHeight});
  background: $dark;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;
  padding-top: 4vh;
}
